$bg: #EDFFFB;
$button-bg: #2BFFCC;
$button-border: #082F25;
$button-hover: #082F25;
$text-color: #082F25;
$text-hover: #FFFFFF;
$white: #FFFFFF;

$h1: 48px;
$h2: 32px;
$h3: 24px;
$p: 16px;
$li: 16px;

$montserrat: 'Montserrat', sans-serif;
$rubik: 'Rubik', sans-serif;

$breakpoint-small: 360px;
$breakpoint-medium: 764px;
$breakpoint-large: 1024px;