@import "~normalize.css";

@import "_variables";
//@import "modules/hello.scss";

body {
  background: $bg;
  color: $text-color;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  min-height: 100vh;
  padding: 0 120px 0 120px;
}


