@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Rubik&display=swap');
@import "_variables";
//@import "modules/hello.scss";

body {
  background: $bg;
  color: $text-color;
  font-family: $montserrat;
  min-height: 100vh;
  width: 100%;
  
}

.advantages{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 120px 120px 0 120px;
}

.btn-wraper{
  display: flex;
  flex-direction: row;
  margin-top: 48px;
}

[cta-nav]{
  margin-left: 0px;
}

.cta{
  display: flex;
  justify-content: center;
  align-items: center;
  background: $button-bg;
  box-shadow: 0px 56px 80px rgba(42, 255, 204, 0.27), 0px 12.5083px 17.869px rgba(42, 255, 204, 0.160949), 0px 3.72406px 5.32008px rgba(42, 255, 204, 0.109051);
  color: $text-color;
  
  text-decoration: none;
  
  
  &__secondary{
    background: 0;
    border: 1px solid $button-border;
    box-shadow: none;
    text-decoration: none;
    margin-left: 32px;
    
  }
  &__secondary:hover{
      background: $button-hover;
      color: $white;
      
  }
  &__text{
    color: $text-color;
    font-family: $montserrat;
    font-size: $li;
    font-weight: bold;
    margin: 0;
    padding: 16px 24px;
    min-width: max-content;
  }
  &__text:hover{
    color: $white;
  }

  &__margin{
    margin-top: 64px;
  }
  &__form{
    border: 0;
    background-color: $button-bg;
  }
  &__form:hover{
    border: 0;
    background: $button-hover;
    color: $white;
  }
}
.cta:hover{
  background: $button-hover;
  color: $white;
}

.cta-section{
  background: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 120px;
}

.form{
  display: grid;
  grid-template-areas: 'form__name form__name'
  'form__email form__email'
  'form__message form__message'
  'form__agreement form__submit';
  &__name{
    grid-area: form__name;
  }
  &__email{
    grid-area: form__email;
    }
  &__message{
    grid-area: form__message;
    }
  &__agreement{
    grid-area: form__agreement;
    }
  &__submit{
    grid-area: form__submit;
    }
  
}


.header{
  display: flex;
  
  font-weight: bold;
  
  &__wraper{
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 120px 24px 120px;
    width: 100%;
    background: $white;
  }
}

.heading1{
  font-size: $h1;
  font-weight: normal;
  margin: 0;
  &__strong{
    font-weight: bold;
  }
}

.heading2{
  font-size: $h2;
  font-weight: normal;
  margin: 32px 0 0 0;
}


.hero{
  padding: 0 120px 0 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 42px;

  &__content{
    display: inherit;
    flex-direction: column;
    align-items: flex-start;
    max-width: 712px;
  }
  &__illustration{
    display: flex;
    justify-content: flex-end;
  }

  
}



.navigation{
display: inherit;
align-items: center;
  &__link{
    text-decoration: none;
    color: $text-color;
  }

  &__list{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    &--item{
      list-style: none;
      margin: 0 0 0 24px;
      
    }
  }
}


.main{
  display: flex;
  flex-direction: column;
}
.paragraph{
  font-size: $p;
  font-family: $rubik;
  margin: 48px 0 0 0;
  &__column{
    margin-top: 24px;
  }
  &__margin{
    margin-top: 32px;
  }
}

.perks{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 32px;
  margin: 120px 120px 0 120px;
  &__column{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;


  }
}


.scroll-down{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.testimonials{
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: 120px 120px 0 120px;
  &__description{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.question-form{
  margin: 120px 120px 0 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}